* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

header {
  height: 700px;
  width: 100%;
  background-image: url("../Images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu1 {
  height: 75px;
  width: 100%;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu1 .logo {
  float: left;
  margin-left: 100px;
}

.menu1 hr {
  height: 100%;
  border-color: #6504B5;
}

.menu1 div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 18px;
}

.menu1 div button {
  background: none;
  border: none;
  color: #6504B5;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.menu1 div button:hover {
  color: #c4c4c4;
}

.menu1 div img {
  cursor: pointer;
}

.menu2 {
  height: 75px;
  width: 100%;
  background-color: #6504B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu2 .container {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div {
  text-align: center;
  color: white;
  font-size: 15px;
}

.container div h3 {
  cursor: pointer;
}

.container div h3:hover {
  color: #c4c4c4;
}

.description {
  position: relative;
  top: 20%;
  left: 100px;
  width: 500px;
}

.parag1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 34px;
}

.parag2 {
  color: white;
  margin-top: 28px;
  font-size: 20px;
  width: 420px;
}

.description button {
  margin-top: 15px;
  background: #6504B5;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 175px;
  border-radius: 10px;
  height: 38px;
  border-style: none;
}

.description button:hover {
  color: #6504B5;
  background-color: #c4c4c4;
}

.space {
  height: 50px;
}

.a-propos h2 {
  text-align: center;
  color: #6504B5;
}

.a-propos hr {
  width: 170px;
  color: black;
  margin: auto;
  background-color: black;
}

.first-word {
  color: #6504B5;
  text-decoration: underline;
}

.parag3 {
  width: 60%;
  margin: auto;
  padding: 15px;
  background-color: #FFFBFB;
  line-height: 30px;
  -webkit-box-shadow: 2px 2px 5px grey;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.articles {
  width: 100%;
}

.annonces h2, .articles h2 {
  text-align: center;
  color: #6504B5;
}

.annonces hr, .articles hr {
  width: 250px;
  color: black;
  margin: auto;
  background-color: black;
}

.animals, .all-articles, .animals, .all-articles {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.animal, .article{
  height: 300px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-image1, .bg-image2, .bg-image3, .bg-image4 {
  height: 200px;
  width: 100%;
  background-image: url("../Images/image1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
}

.bg-image2{
  background-image: url("../Images/image2.svg");
}

.bg-image3{
  background-image: url("../Images/image3.svg");
}

.bg-image4{
  background-image: url("../Images/image4.svg");
}

.infos-animal, .infos-article{
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
  border-top-style: none;
  border-radius: 0px 0px 5px 5px;
  height: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.infos-animal a, .infos-article a{
  position: relative;
  top: 30%;
}

.infos-animal p, .infos-article p{
  text-align: center;
  margin-top: 12px;
}

.infos-animal button, .infos-article button {
  margin-top: 15px;
  background: #6504B5;
  color: white;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  width: 70px;
  border-radius: 7px;
  height: 23px;
  border-style: none;
}

.infos-animal button:hover, .infos-article button:hover{
  color: #6504B5;
  background-color: #c4c4c4;
}

.all-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.circle-image {
  height: 100px;
  position: absolute;
  width: 108px;
  background-image: url("../Images/image1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin-top: 150px;
  margin-left: 142px;
}

.infos-article {
  height: 150px;
}

.infos-article p {
  margin-top: 70px;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

footer {
  background-color: #6504B5;
  color: white;
  padding-top: 20px;
}

footer img {
  width: 160px;
}

#facebook {
  width: 15px;
}

footer a img {
  margin-right: 6px;
  width: 25px;
}

.footer1 {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.block {
  line-height: 30px;
  width: 30%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer1 .logo {
  width: 60px;
  height: 60px;
}

.copy {
  margin-top: 20px;
  background-color: #c4c4c4;
  padding: 3px;
  border: 1px solid #6504B5;
}

.copy p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #6504B5;
}
/*# sourceMappingURL=Home.css.map */